{% extends "admin/admin_base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<div class="row mb-4">
    <div class="col-md-6">
        <div class="card shadow p-4">
            <h4>Total Packages</h4>
            <h2 class="text-primary">{{ packages|length }}</h2>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow p-4">
            <h4>Total Bookings</h4>
            <h2 class="text-success">{{ bookings|length }}</h2>
        </div>
    </div>
</div>

<div class="card shadow p-4 mb-4">
    <h4 class="mb-3">Packages</h4>

    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for package in packages %}
            <tr>
                <td>{{ package.title }}</td>
                <td>₹{{ package.price }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No packages available</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="card shadow p-4">
    <h4 class="mb-3">Recent Bookings</h4>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Package</th>
                <th>Date</th>
                <th>Persons</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.full_name }}</td>
                <td>{{ booking.package.title }}</td>
                <td>{{ booking.travel_date }}</td>
                <td>{{ booking.persons }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No bookings yet</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h3 class="mt-5 mb-3">User Messages</h3>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Received On</th>
        </tr>
    </thead>
    <tbody>
        {% for msg in messages_list %}
        <tr>
            <td>{{ msg.full_name }}</td>
            <td>{{ msg.email }}</td>
            <td>{{ msg.phone }}</td>
            <td>{{ msg.subject }}</td>
            <td>{{ msg.message }}</td>
            <td>{{ msg.created_at }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center">No messages yet</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
